*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "_header";
@import "_index";
@import "_sobremi";
@import "_sesiones";
@import "_reservaTurnos";
@import "_contacto";
@import "_footer";
@import "_navbar";
@import "_logo";



